{% extends 'base.html.twig' %}

{% block body %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('{{ asset('assets/img/breadcrumbs-bg.jpg')}}');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Formation Assistant Administratif Bilingue</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Formation CQP</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="fa fa-info-circle"></i>
              </div>
              <h3>Presentation du metier</h3>
              <p>Le poste d'assistant administratif est l'un des plus recherchés par les recruteurs sur le marché de l'emploi.
               L'assistant(e) administratif (ve) est la cheville ouvrière de l'administration.
                Il (elle) est au cœur du système de communication interne, de l'organisation du travail et de la prise de décision.
               Il (elle) joue également un rôle crucial dans le bon fonctionnement des entreprises en gérant les tâches administratives, en soutenant l'équipe et en assurant une communication efficace entre les différents services au sein de l'organisation.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-book"></i>
              </div>
              <h3>Mode de formation</h3>
              <p>Pour les apprenants qui souhaitent suivre la formation d’assistant administratif bilingue, deux modes de formations sont proposées :<br>
              - En ligne<br>
              - En presentiel</p>
              <a href="service-details.html" class="readmore stretched-link">En savoir plus <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-compass-drafting"></i>
              </div>
              <h3>Materiel de Formation</h3>
              <p>Pour suivre la formation d’assistant administratif bilingue, le centre met à la disposition de ses apprenants les équipements suivants :<br>

                        - Salle de Cours Climatisée;<br>
                        - Vidéoprojecteur et Smart Board ;<br>
                        - Groupe électrogène fonctionnel;<br>
                        - Connexion Internet Illimitée ;<br>
                        - Des supports de cours, des exercices pratiques et d'autres ressources pédagogiques;<br>
                        - Kits de l’apprenant (Bloc note, stylo, règle, porte document).<br>
                    Chaque Apprenant devra se munir des éléments suivants - 
                    Un Smartphone, Une Clé USB, Un Laptop ou Desktop, 
                    Pour en savoir plus vous pouvez lire les modalités d’admission.</p>
              <a href="service-details.html" class="readmore stretched-link">Learn more <i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-trowel-bricks"></i>
              </div>
              <h3>Contenu de la formation</h3>
              <p>Au cours de cette formation, vous aborderez les différents aspects du métier d'assistant administratif à travers plusieurs modules :<br>
                    - Secrétariat <br>
                    - Production des documents d’entreprise avec Excel, Word, Publisher, Powerpoint<br>
                    - Techniques de Communication d’entreprise<br>
                    - Pratique du Marketing Digital et animation des réseaux sociaux et site web<br>
                    - Initiation à l’infographie et production des visuels de l’entreprise<br>
                    - Introduction à l’organisation des entreprises<br>
                    - Techniques d’assistanat et de gestion d'un bureau<br>
                    - Techniques commerciales<br>
                    - Notions de fiscalités<br>
                    - Techniques de gestion des ressources humaines<br>
                    - Gestion des voyages, des véhicules d’entreprise et des chauffeurs<br>
                    - Pratiques comptables et tenue de la petite caisse<br>
                    - Procédures d’achat et gestion des prestataires<br>
                    - Gestion des évènements d’entreprise, foires ; séminaires, réunion et ateliers<br>
                    - Cours de langue français et anglais<br>
                    - Expression écrite et orale en français et en anglais<br>
                    - Insertion professionnelle : attitudes et aptitude en entreprise, technique de recherche de l’emploi<br>
                    - Stages et conférences<br>
                    - Préparation et examens (Soutenances) CQP</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-helmet-safety"></i>
              </div>
              <h3>Diplome et Attestation</h3>
              <p>À la fin de la formation CQP Assistant Administratif, vous obtiendrez deux diplômes:<br>
                    - Un Certificat de Qualification Professionnelle (CQP) qui atteste de vos compétences dans le domaine de l'assistance administrative délivré par le MINEFOP<br>
                    - Un Diplôme ou une Attestation de formation délivré (e) par le Centre de Formation.<br><br>
                Les modalités d’obtention des Diplômes sont les suivants :<br>
                 Pour obtenir l’attestation du Centre:<br>
                    - Avoir été évalué avec succès dans tous les modules<br>
                    - Payer la totalité des frais d’inscription<br><br>
                Pour le MINEFOP:<br>
                    - Avoir au moins le Baccalauréat
                    - Payer les frais d’examen - 33.000 XAF
                    - Faire un stage académique en Entreprise
                    - Avoir été évalué avec succès dans tous les modules
                    - Payer la totalité des frais d’inscription</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa fa-info-circle"></i>
              </div>
              <h3>Comment s'inscrire</h3>
              <p>Pour vous inscrire à notre formation CQP Assistant Administratif, veuillez suivre les étapes suivantes:<br>
                    - Dans le Site du centre, accédez à la page de la formation CQP - « Assistant Administratif »
                    - Remplissez la fiche ou le formulaire d'inscription en ligne en fournissant toutes les informations demandées (votre nom, prénom, coordonnées et niveau d'études...)
                    - Sélectionnez le mode de formation que vous préférez - en Présentiel ou en Ligne.
                    - Envoyez votre demande d'inscription en cliquant sur le bouton "Envoyer" ou "Soumettre".
                    - Après réception de votre demande, notre équipe vous contactera pour confirmer votre demande et vous fournir toutes les informations nécessaires sur les modalités de paiement.
                    - Procédez au paiement des frais d’inscription selon les modalités convenues.
                    - Une fois le paiement effectué, vous recevrez un email de confirmation d'inscription avec tous les détails concernant le début de la formation,
                    - Si cours en présentiel, déposer son dossier d'inscription au centre ainsi que les reçus de paiement des frais d’inscription.</p>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Servie Cards Section ======= 
    <section id="services-cards" class="services-cards">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <h3>Quasi eaque omnis</h3>
            <p>Eius non minus autem soluta ut ui labore omnis quisquam corrupti autem odit voluptas quos commodi magnam
              occaecati.</p>
            <ul class="list-unstyled">
              <li><i class="bi bi-check2"></i> <span>Ullamco laboris nisi ut aliquip</span></li>
              <li><i class="bi bi-check2"></i> <span>Duis aute irure dolor in reprehenderit</span></li>
              <li><i class="bi bi-check2"></i> <span>Ullamco laboris nisi ut aliquip ex ea</span></li>
            </ul>
          </div> 
          End feature item

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <h3>Et nemo dolores consectetur</h3>
            <p>Ducimus ea quam et occaecati est. Temporibus in soluta labore voluptates aut. Et sit soluta non repellat
              sed quia dire plovers tradoria</p>

            <ul class="list-unstyled">
              <li><i class="bi bi-check2"></i> <span>Enim temporibus maiores eligendi</span></li>
              <li><i class="bi bi-check2"></i> <span>Ut maxime ut quibusdam quam qui</span></li>
              <li><i class="bi bi-check2"></i> <span>Officiis aspernatur in officiis</span></li>
            </ul>
          </div><!-- End feature item

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <h3>Staque laboriosam modi</h3>
            <p>Velit eos error et dolor omnis voluptates nobis tenetur sed enim nihil vero qui suscipit ipsum at magni.
              Ipsa architecto consequatur aliquam</p>
            <ul class="list-unstyled">
              <li><i class="bi bi-check2"></i> <span>Quis voluptates laboriosam numquam</span></li>
              <li><i class="bi bi-check2"></i> <span>Treva libero sunt quis veniam ut</span></li>
              <li><i class="bi bi-check2"></i> <span>Debitis eos est est corrupti</span></li>
            </ul>
          </div><!-- End feature item

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <h3>Dignissimos suscipit iste</h3>
            <p>Molestiae occaecati assumenda quia saepe nobis recusandae at dicta ducimus sequi numquam commodi est in
              consequatur ea magnam quia itaque</p>
            <ul class="list-unstyled">
              <li><i class="bi bi-check2"></i> <span>Veritatis qui reprehenderit quis</span></li>
              <li><i class="bi bi-check2"></i> <span>Accusantium vel numquam sunt minus</span></li>
              <li><i class="bi bi-check2"></i> <span>Voluptatem pariatur est sationem</span></li>
            </ul>
          </div><!-- End feature item

        </div>

      </div>
    </section> End Servie Cards Section -->

    <!-- ======= Alt Services Section 2 ======= 
    <section id="alt-services-2" class="alt-services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-around gy-4">
          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <h3>Non quasi officia eum nobis et rerum epudiandae rem voluptatem</h3>
            <p>Maxime quia dolorum alias perspiciatis. Earum voluptatem sint at non. Ducimus maxime minima iste magni
              sit praesentium assumenda minus. Amet rerum saepe tempora vero.</p>

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-easel flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Lorem Ipsum</a></h4>
                <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate
                  non provident</p>
              </div>
            </div><!-- End Icon Box 

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-patch-check flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Nemo Enim</a></h4>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                  deleniti atque</p>
              </div>
            </div><!-- End Icon Box 

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Dine Pad</a></h4>
                <p>Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut deserunt minus
                  aut eligendi omnis</p>
              </div>
            </div><!-- End Icon Box 

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Tride clov</a></h4>
                <p>Est voluptatem labore deleniti quis a delectus et. Saepe dolorem libero sit non aspernatur odit amet.
                  Et eligendi</p>
              </div>
            </div><!-- End Icon Box 
          </div>

          <div class="col-lg-6 img-bg" style="background-image: url('{{ asset('assets/img/alt-services-2.jpg')}}');" data-aos="zoom-in"
            data-aos-delay="100"></div>
        </div>

      </div>
    </section><!-- End Alt Services Section 2 -->

    <!-- ======= Alt Services Section ======= 
    <section id="alt-services" class="alt-services">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-around gy-4">
          <div class="col-lg-6 img-bg" style="background-image: url('{{ asset('assets/img/alt-services.jpg')}}');" data-aos="zoom-in"
            data-aos-delay="100"></div>

          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <h3>Enim quis est voluptatibus aliquid consequatur fugiat</h3>
            <p>Esse voluptas cumque vel exercitationem. Reiciendis est hic accusamus. Non ipsam et sed minima temporibus
              laudantium. Soluta voluptate sed facere corporis dolores excepturi</p>

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-easel flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Lorem Ipsum</a></h4>
                <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate
                  non provident</p>
              </div>
            </div><!-- End Icon Box 

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-patch-check flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Nemo Enim</a></h4>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                  deleniti atque</p>
              </div>
            </div><!-- End Icon Box 

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Dine Pad</a></h4>
                <p>Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut deserunt minus
                  aut eligendi omnis</p>
              </div>
            </div><!-- End Icon Box 

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Tride clov</a></h4>
                <p>Est voluptatem labore deleniti quis a delectus et. Saepe dolorem libero sit non aspernatur odit amet.
                  Et eligendi</p>
              </div>
            </div><!-- End Icon Box 

          </div>
        </div>

      </div>
    </section><!-- End Alt Services Section -->

    <!-- ======= Testimonials Section ======= 
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Testimonials</h2>
          <p>Quam sed id excepturi ccusantium dolorem ut quis dolores nisi llum nostrum enim velit qui ut et autem uia
            reprehenderit sunt deleniti</p>
        </div>

        <div class="slides-2 swiper">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{{ asset('assets/img/testimonials/testimonials-1.jpg')}}" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Ceo &amp; Founder</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus.
                    Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item 

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{{ asset('assets/img/testimonials/testimonials-2.jpg')}}" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis
                    quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item 

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{{ asset('assets/img/testimonials/testimonials-3.jpg')}}" class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Store Owner</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim
                    tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item 

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{{ asset('assets/img/testimonials/testimonials-4.jpg')}}" class="testimonial-img" alt="">
                  <h3>Matt Brandon</h3>
                  <h4>Freelancer</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit
                    minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item 

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{{ asset('assets/img/testimonials/testimonials-5.jpg')}}" class="testimonial-img" alt="">
                  <h3>John Larson</h3>
                  <h4>Entrepreneur</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim
                    culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum
                    quid.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item 

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->
  {% endblock %}
{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}